body {
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;;
}
#p {
  background-color: #D3D3D3;
  padding: 10px 25px 10px 25px;
  margin-top: 30px;
}
/** HEADER **/

#header-nav {
  background-color: #D3D3D3;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.navbar-brand {
  padding-top: 10px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lato', sans-serif;;
  color: #000000;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: auto;
  margin-bottom: 0px;
}
#nav-list a {
  color: ##000000;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -68px;
}
/* END HEADER */

/*Body*/

h2{font-size:1.75em;
  font-weight:bold;}

h4{font-size: 1.25em;
font-weight:bold;
margin-bottom: 15px;
}

li a {font size: 16px;
        background-color: white;
        border:1px solid black;
        color:#000000;}


/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 5px;
    height: 70px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 15px;
   
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    clear: right;
    font-size: 1.2em;
    color:black;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  .navbar {max-height: 90px;}
  /* End Header */

}
